<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 13</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
  <div id="app">
  <h1>Komunikasi AJAX menggunakan Axios Berbasis Vue.js</h1>
  <form @submit.prevent = "submitForm()">
   <label for="nama">Nama : </label>
   <input type="text" :disabled="buttonName==='uploadFoto'" name="name" ref="name" v-model="name">
   <label for="address">Address : </label>
   <input type="text" :disabled="buttonName==='uploadFoto'" name="address" ref="address" v-model="address">
   <label for="nohp">Nomor HP : </label>
   <input type="text" :disabled="buttonName==='uploadFoto'" name="no_hp" ref="no_hp" v-model="no_hp">

   <div v-if = "buttonName==='submit'" >
    <input type="submit" value="SUBMIT">
   </div>
   <div v-else-if ="buttonName==='update'">
    <input @click ="updateMember(idEditMember)" type="button"  value="UPDATE">
    <input id='cancel' @click ="clearForm()" type="button" value="CANCEL">
   </div>
   <div v-else-if ="buttonName==='uploadFoto'">
    <input type="file"  name="foto" ref="foto">
    <input type="button"  @click ="submitFoto(idUploadFoto)" value="UPLOAD">
    <input id='cancel' @click ="clearForm()" type="button" value="CANCEL">
   </div>
  </form>


  <h3 id="jumData">Jumlah Data : {{members.length}}</h3>

  <members-component> </members-component>

  </div>



  <template id="data">
    <table id="table"> 
      <tr>
        <th>Foto</th>
        <th>Data</th>
        <th>Aksi</th>
      </tr>
      <tr v-for="member of members">
        <td><img width="100" :src="member.photo_profile ? domain + member.photo_profile : 'https://dummyimage.com/16:9x1080/'" ></td>
        <td>
          <b>Nama :</b> {{member.name}} <br>
          <b>Address :</b> {{member.address}} <br>
          <b>Nomor HP :</b> {{member.no_hp}} <br>
        </td>
  
        <td>
          <button class ="button" @click = "editMember(member)" id="buttonEdit"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
          <button class ="button" @click = "removeMember(member.id)" id="buttonDelete"> <i class="fa fa-trash" aria-hidden="true"></i>Hapus</button>
          <button class ="button" @click = "uploadFoto(member)"  id="buttonUpload"><i class="fa fa-upload" aria-hidden="true"></i>Upload Foto</button>
        </td>
      </tr>
    </table>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <script>

    var MembersComponent = {
      template : '#data',
      data(){
        return{
        name : '',
        address:'',
        no_hp:'',
        members:[],
        domain:"http://demo-api-vue.sanbercloud.com",
        buttonName:'submit',
        idEditMember : null,
        idUploadFoto : null,
        }
      },

      methods:{
        clearForm : function () { 
          this.name = ''
          this.address = ''
          this.no_hp = ''
          this.buttonName ='submit'
          this.idEditMember = null
          this.idUploadFoto = null
        },

        submitForm : function(){

          let datainput  = new FormData()
          datainput.append('name', this.name)
          datainput.append('address', this.address)
          datainput.append('no_hp', this.no_hp)

          const config = {
            method:"post",
            url :"http://demo-api-vue.sanbercloud.com/api/member",
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
            
            })
            .catch((error)=>{
              alert(error)
            })
        },

        getMember: function(){

          
          const config = {
            method:"get",
            url :"http://demo-api-vue.sanbercloud.com/api/member"
          }

          axios(config)
            .then((response)=>{
              this.members = response.data.members
            })
            .catch((error)=>{

              alert(error)

            })
        },

        removeMember: function (paramsid) { 
          const config = {
            method:"post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${paramsid}`,
            params : { _method: "DELETE" }
          }

          axios(config)
            .then((response)=>{
              this.getMember()
              alert(response.data.message)
            })
            .catch((error)=>{

              alert (error)

            })
        },

        editMember : function (member) { 

          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonName = 'update'
          this.idEditMember = member.id
          },


        updateMember : function (id) { 
          let datainput  = new FormData()
          datainput.append('name', this.name)
          datainput.append('address', this.address)
          datainput.append('no_hp', this.no_hp)

          const config = {
            method:"post",
            url :`http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params : { _method: "PUT" },
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
            
            })
            .catch((error)=>{
              alert(error)
            })

          },

          uploadFoto : function (member) { 
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonName = 'uploadFoto'
          this.idUploadFoto = member.id
          },

          
          submitFoto : function (id) {

            let file = this.$refs.foto.files[0]
            let datainput  = new FormData()

            datainput.append('photo_profile', file)


            const config = {
            method:"post",
            url :`http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
            
            })
            .catch((error)=>{

              alert(error)

            })
            
          }
        }, 
       created(){
        this.getMember()
          },
         }


    const vm = new Vue({
      el: "#app",
      components :{
        'members-component': MembersComponent
      },

      data :{
        name : '',
        address:'',
        no_hp:'',
        members:[],
        domain:"http://demo-api-vue.sanbercloud.com",
        buttonName:'submit',
        idEditMember : null,
        idUploadFoto : null,
      },

      methods:{

        clearForm : function () { 
          this.name = ''
          this.address = ''
          this.no_hp = ''
          this.buttonName ='submit'
          this.idEditMember = null
          this.idUploadFoto = null
         },

        submitForm : function(){

          let datainput  = new FormData()
          datainput.append('name', this.name)
          datainput.append('address', this.address)
          datainput.append('no_hp', this.no_hp)

          const config = {
            method:"post",
            url :"http://demo-api-vue.sanbercloud.com/api/member",
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
             
            })
            .catch((error)=>{
              alert(error)
            })
        },

        getMember: function(){

          
          const config = {
            method:"get",
            url :"http://demo-api-vue.sanbercloud.com/api/member"
          }

          axios(config)
            .then((response)=>{
              this.members = response.data.members
            })
            .catch((error)=>{

              alert(error)

            })
        },

        removeMember: function (paramsid) { 
          const config = {
            method:"post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${paramsid}`,
            params : { _method: "DELETE" }
          }

          axios(config)
            .then((response)=>{
               this.getMember()
               alert(response.data.message)
            })
            .catch((error)=>{

              alert (error)

            })
         },

        editMember : function (member) { 

          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonName = 'update'
          this.idEditMember = member.id
          },


         updateMember : function (id) { 
          let datainput  = new FormData()
          datainput.append('name', this.name)
          datainput.append('address', this.address)
          datainput.append('no_hp', this.no_hp)

          const config = {
            method:"post",
            url :`http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params : { _method: "PUT" },
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
             
            })
            .catch((error)=>{
              alert(error)
            })

          },

          uploadFoto : function (member) { 
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonName = 'uploadFoto'
          this.idUploadFoto = member.id
           },

          
           submitFoto : function (id) {

            let file = this.$refs.foto.files[0]
            let datainput  = new FormData()

            datainput.append('photo_profile', file)


            const config = {
            method:"post",
            url :`http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
             
            })
            .catch((error)=>{

              alert(error)

            })
             
           }





      },

      created(){
          this.getMember()
        }

    })
  </script>

</body>
</html>