



input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],[type=button] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]#cancel{
  width: 50%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit],[type=button]:hover {
  background-color: #45a049;
}

input[type=button]#cancel:hover {
  background-color: red;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#buttonEdit{
  background-color: #4CAF50; /* Green */
}

#buttonDelete{
  background-color:red; /* Green */
}


#buttonUpload{
  background-color: cyan; /* Green */
  color: black;
}

h3#jumData{
  background-color: red;
  padding: 5px;
  width: 150px;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

h1{
  text-align: center;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
