<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas 12</title>

  <style>

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]#cancel{
  width: 100%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit],[type=button]:hover {
  background-color: #45a049;
}

input[type=button]#cancel:hover {
  background-color: red;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

</head>
<body>
  <div id="app">
  <form @submit.prevent = "submitForm()">
   <label for="nama">Nama : </label>
   <input type="text" :disabled="buttonName==='uploadFoto'" name="name" ref="name" v-model="name">
   <label for="address">Address : </label>
   <input type="text" :disabled="buttonName==='uploadFoto'" name="address" ref="address" v-model="address">
   <label for="nohp">Nomor HP : </label>
   <input type="text" :disabled="buttonName==='uploadFoto'" name="no_hp" ref="no_hp" v-model="no_hp">


   <div v-if = "buttonName==='submit'" >
    <input type="submit" value="SUBMIT">
   </div>
   <div v-else-if ="buttonName==='update'">
    <input @click ="updateMember(idEditMember)" type="button"  value="UPDATE">
    <input id='cancel' @click ="clearForm()" type="button" value="CANCEL">
   </div>
   <div v-else-if ="buttonName==='uploadFoto'">
    <input type="file"  name="foto" ref="foto">
    <input type="button"  @click ="submitFoto(idUploadFoto)" value="UPLOAD">
    <input id='cancel' @click ="clearForm()" type="button" value="CANCEL">
   </div>
   

  </form>

  <table id="table">

    <tr>
      <th>Foto</th>
      <th>Data</th>
      <th>Aksi</th>
    </tr>
    <tr v-for="member of members">
      <td><img width="100" :src="member.photo_profile ? domain + member.photo_profile : 'https://dummyimage.com/16:9x1080/'" ></td>
      <td>
        <b>Nama :</b> {{member.name}} <br>
        <b>Address :</b> {{member.address}} <br>
        <b>Nomor HP :</b> {{member.no_hp}} <br>
      </td>

      <td>
        <button @click = "editMember(member)">Edit</button>
        <button @click = "removeMember(member.id)">Hapus</button>
        <button @click = "uploadFoto(member)">Upload Foto</button>
      </td>
    </tr>
  </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <script>
    let vm = new Vue({
      el: "#app",
      data :{
        name : '',
        address:'',
        no_hp:'',
        members:[],
        domain:"http://demo-api-vue.sanbercloud.com",
        buttonName:'submit',
        idEditMember : null,
        idUploadFoto : null
      },

      methods:{

        clearForm : function () { 
          this.name = ''
          this.address = ''
          this.no_hp = ''
          this.buttonName ='submit'
          this.idEditMember = null
          this.idUploadFoto = null
         },

        submitForm : function(){

          let datainput  = new FormData()
          datainput.append('name', this.name)
          datainput.append('address', this.address)
          datainput.append('no_hp', this.no_hp)

          const config = {
            method:"post",
            url :"http://demo-api-vue.sanbercloud.com/api/member",
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
             
            })
            .catch((error)=>{
              alert(error)
            })
        },

        getMember: function(){

          
          const config = {
            method:"get",
            url :"http://demo-api-vue.sanbercloud.com/api/member"
          }

          axios(config)
            .then((response)=>{
              this.members = response.data.members
            })
            .catch((error)=>{

              alert(error)

            })
        },

        removeMember: function (paramsid) { 
          const config = {
            method:"post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${paramsid}`,
            params : { _method: "DELETE" }
          }

          axios(config)
            .then((response)=>{
               this.getMember()
               alert(response.data.message)
            })
            .catch((error)=>{

              alert (error)

            })
         },

        editMember : function (member) { 

          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonName = 'update'
          this.idEditMember = member.id
          },


         updateMember : function (id) { 
          let datainput  = new FormData()
          datainput.append('name', this.name)
          datainput.append('address', this.address)
          datainput.append('no_hp', this.no_hp)

          const config = {
            method:"post",
            url :`http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params : { _method: "PUT" },
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
             
            })
            .catch((error)=>{
              alert(error)
            })

          },

          uploadFoto : function (member) { 
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonName = 'uploadFoto'
          this.idUploadFoto = member.id
           },

          
           submitFoto : function (id) {

            let file = this.$refs.foto.files[0]
            let datainput  = new FormData()

            datainput.append('photo_profile', file)


            const config = {
            method:"post",
            url :`http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
            data : datainput
          }

          axios(config)
            .then((response)=>{
              this.clearForm()
              this.getMember()
              alert(response.data.message)
             
            })
            .catch((error)=>{

              alert(error)

            })
             
           }





      },




      created(){
          this.getMember()
        }


    })
  </script>

</body>
</html>