<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz 2</title>

  <style>
    .button{
      display: inline-block;
    }

    .form{
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div id="app">
    <form class="form">
    <input type="text" v-model="newUsers">
    <div v-if="condition" class="button">
      <input type="submit" value="Update" v-on:click.prevent="updateNamaUser">
    </div>
    <div v-else class="button">
      <input type="submit" value="add" v-on:click.prevent="addUsers">
    </div>
  
  </form>


    <li v-for="user,index in users">
      {{user.name}}
      <button v-on:click="removeUser(index)">
        Delete
      </button>
      ||
      <button v-on:click="updateUser(user.name,index)">
        Edit
      </button>
    </li>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var app = new Vue({
  el: '#app',
  data: {
    users: [
      {
        'name': 'Muhammad Iqbal Mubarok'
      },
      {
        'name': 'Ruby Purwanti'
      },
      {
        'name': 'Faqih Muhammad'
      }
    ],

    newUsers:'',
    index:0,
    condition:false
    
  },

  methods:{
    addUsers: function () { 
      let newUser = this.newUsers.trim()
      if (newUser){
        this.users.push({name:newUser})
        this.newUsers=''
      }
     },


    removeUser:function(index){
      this.users.splice(index, 1);
    },

    updateUser:function(params,index){
      this.newUsers=params
      this.index=index
      this.condition=true
    },

    updateNamaUser:function(){
      let newUser = this.newUsers.trim()
      this.users[this.index].name = newUser
      this.condition=false

    }

  }
})
  </script>
</body>
</html>