<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directive Tugas 4</title>
  <style>

  </style>
</head>
<body>

  <div id="app">
    <input type="text" v-model:value="name">
    <ul>
      <li style="list-style-type:none" v-for="item in books">
         <p v-if="item.toLowerCase().indexOf(name)>=0">{{item}}</p>
      </li>
  </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
var vue = new Vue({

  el:'#app',
  data:{
    name:'',
    books:[
      'Kalkulus Dasar',
      'Fisika Dasar',
      'Aljabar Linier Elementer',
      'Aljabar Abstrak',
      'Algoritma Pemrograman'
    ]
  }
})
  </script>
</body>
</html>