<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
   <button onclick="vm.openForm()">Open Form</button>
   <h1>{{'Nilai a : '+ a}}</h1>
   <h2>{{'Nilai Rata-rata : '+ rata}}</h2>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a:0,
        rata:0
      },
      methods : {


        openForm:function(){

          let jum = []
          let num = 0
          while(this.a<=10){
            num = parseInt(prompt('masukkan nilai a: '),10)
            jum.push(num)
            this.a+=num
            
          }

          const sum = jum.reduce((a, b) => a + b, 0);
          const avg = (sum / jum.length) || 0;


          this.rata = avg
        }



      }
  })
  </script>
</body>
</html>